@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
:root {
    --primary-color: #F05525;
    --secondary-color: #232529;
    --main-color: #fff;
    --text-color: #7E7E7E;
    --dark-bg-color: #151515;
}

* {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    height: 100%;
}

body {
    font-family: 'Syne', sans-serif;
    color: var(--text-color);
    height: 100%;
    background-color: var(--dark-bg-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    outline: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

a,
button {
    color: var(--primary-color);
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover,
button:hover {
    color: var(--primary-color);
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:focus {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-color);
}

p {
    font-weight: 300;
    -moz-text-shadow: none;
    -ms-text-shadow: none;
    text-shadow: none;
}

p,
li {
    font-size: 1rem;
    line-height: 1.5;
}

#web_layout {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;
    flex-direction: column;
}

#web_layout h3 {
    margin-bottom: 1.5rem;
}

#mobile_layout {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgb(30, 31, 31);
    background: linear-gradient(0deg, rgb(32, 32, 32) 0%, rgb(21, 21, 21) 100%);
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -99;
}

.bark_bg {
    background: rgb(30, 31, 31);
    background: linear-gradient(0deg, rgb(32, 32, 32) 0%, rgb(21, 21, 21) 100%);
}

.menu__trigger {
    cursor: pointer;
}

.menu__trigger:hover:after {
    transform: translateX(0);
}

.menu__trigger--close {
    visibility: hidden;
    opacity: 0;
}

.menu__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 1;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
}

.menu__inner-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    display: flex;
}

.menu__inner-background li {
    position: relative;
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

.menu__inner-background li:first-child {
    width: 75px;
}

.menu__inner-background li:nth-child(2) {
    width: 75px;
}

.menu__inner-background li:nth-child(3) {
    width: 75px;
}

.menu__inner-background li:nth-child(4) {
    width: 75px;
}

.menu__inner-background li:last-child {
    flex: 1;
}

.menu__inner-background li i {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #222325;
    opacity: 0;
    visibility: hidden;
}

.menu__inner-background li:last-child i {
    background-color: rgba(0, 0, 0, 0.8);
}

.menu__inner-background li i:after {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background: #27282b;
    z-index: 2;
}

.menu__inner-background li:first-child i:after,
.menu__inner-background li:last-child i:after {
    display: none;
}

.menu__items-wrapper {
    position: relative;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.menu__items-list {
    position: relative;
    z-index: 1;
}

.js-menu-items-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu__items-list li a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 0.9rem;
    line-height: normal;
    font-weight: 600;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu__items-list li a i {
    font-size: 1.3rem;
    color: #B4B4B4;
}

.menu__items-list li a span {
    flex: 1;
}

.menu__footer {
    background-color: #222325;
    border-top: 1px solid #27282b;
    height: 4.5rem;
    display: flex;
    align-items: center;
    margin: 0 -1.2rem;
    padding: 0 1rem 0 1.2rem;
    width: 300px;
}

.menu__footer p {
    margin: 0;
    font-size: 0.9rem;
}

.menu__block .menu__items-list {
    margin-bottom: 1rem;
    overflow: hidden;
}

.menu__block {
    flex: 1;
    overflow-y: auto;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.js-menu-close {
    font-size: 1.7rem;
    line-height: 1;
    display: flex;
    position: absolute;
    right: 0.4rem;
    top: 0.4rem;
    width: 3rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.swiper-pagination {
    bottom: 0 !important;
}

.swiper-slide {
    margin: 0;
}

.app_foot_nav {
    background-color: var(--dark-bg-color);
    height: 4.5rem;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.slide_header {
    display: flex;
    padding: 0 1rem 0 0.5rem;
    min-height: 4.5rem;
}

.header_flex {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header_toggle_btn {
    font-size: 1.5rem;
    color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand_icon {
    max-width: 180px;
}

.brand_icon svg {
    width: 98px;
}

.brand_icon img {
    width: 100%;
}

.app_foot_nav .swiper-pagination-bullet {
    padding: 0 0.5rem;
    border-radius: 0;
    width: auto;
    text-align: center;
    line-height: 1.4;
    font-weight: 400;
    opacity: 1;
    margin: 0 !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    letter-spacing: -0.3px;
}

.app_foot_nav .swiper-pagination-bullet:first-child {
    border-radius: 15px 0 0 0;
}

.app_foot_nav .swiper-pagination-bullet:last-child {
    border-radius: 0 15px 0 0;
}

.app_foot_nav .swiper-pagination-bullet i {
    font-size: 1.4rem;
    color: #6A6A6A;
    line-height: 1.2;
}

.app_foot_nav .swiper-pagination-bullet-active {
    color: var(--primary-color);
    background-color: var(--dark-bg-color) !important;
}

.app_foot_nav .swiper-pagination-bullet-active i {
    color: var(--primary-color);
}

.app_btn {
    padding: 0.2rem 1.4rem;
    font-size: 0.9rem;
    color: var(--main-color);
    font-weight: 600;
    border-radius: 6px;
    background-color: #eee;
    cursor: pointer;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn_primary {
    background-color: var(--primary-color) !important;
    color: #fff;
    border: none;
}

.btn_primary:hover,
.btn_primary:focus,
.btn_primary:active {
    color: #fff !important;
    background-color: var(--primary-color) !important;
}

.btn_secondary {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
}

.btn_secondary:hover,
.btn_secondary:focus,
.btn_secondary:active {
    color: #fff !important;
    background-color: var(--secondary-color) !important;
}

.bottom_spacing {
    height: calc(100% - 4.5rem);
    display: flex;
    flex-direction: column;
}

.spacing {
    padding: 0 1.2rem;
    height: 100%;
    overflow-y: auto;
}

.home_content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
}

.home_btn_block {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.banner_title {
    margin-bottom: 1.2rem;
    position: relative;
}

.banner_title h1 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.banner_title h1::after {
    content: '';
    width: 50px;
    height: 3px;
    background-color: var(--primary-color);
    display: block;
}

.banner_title h4 {
    font-size: 1.05rem;
    text-align: center;
    font-weight: 4;
    margin-top: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
}

.header_title h1 {
    margin: 0;
    font-size: 1.3rem;
}

.services_grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 2.6rem;
    padding-top: 1.8rem;
    margin-bottom: 1.5rem;
}

.service_item {
    background-color: #222325;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.service_icon {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #323335;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.08);
    margin-top: -2.8rem;
}

.service_icon svg {
    height: 1.6rem;
}

.service_details {
    text-align: center;
}

.service_details h3 {
    font-size: 1.2rem;
}

.journey_content {
    height: 100%;
    display: flex;
    flex: 1;
}

.journeySwiper {
    display: flex;
    flex-direction: column;
}

.journey_pagination {
    position: relative;
    padding-bottom: 2rem;
}

.journey_pagination .swiper-pagination-bullet {
    width: 2rem;
    height: 0.2rem;
    border-radius: 2px;
    margin: 0 0.1rem !important;
    background-color: #323335;
    opacity: 1;
}

.journey_pagination .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

.journey_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
}

.journey_body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 340px;
    padding: 1rem 0 0;
}

.journey_icon {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
}

.journey_body h3 {
    font-size: 1.2rem;
}

.journey_label {
    color: var(--primary-color);
    margin-bottom: 2.5px;
}

.journey_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page_stories .slide_header {
    position: absolute;
    z-index: 9;
}

.stories_item {
    height: 100% !important;
}

.stories_content {
    height: 100%;
}

.storiesSwiper {
    height: 100%;
}

#page_stories .slide_header {
    position: absolute;
    z-index: 9;
    width: 100%;
    background: rgb(30, 31, 31);
    background: linear-gradient(0deg, rgba(30, 31, 31, 0) 0%, rgba(21, 21, 21, 1) 100%);
}

#page_stories .vjs-control-bar {
    display: none;
}

#page_stories {
    height: calc(100% - 3.5rem);
}

.video-js {
    width: 100%;
}

.my-player-dimensions.vjs-fluid:not(.vjs-audio-only-mode) {
    padding-top: calc(100vh - 3.5rem);
}

.dialog,
.dialog__overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dialog {
    position: fixed;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    pointer-events: none;
    z-index: 99;
}

.dialog__overlay {
    position: absolute;
    z-index: 1;
    background: rgba(8, 8, 8, 0.9);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dialog--open .dialog__overlay {
    opacity: 1;
    pointer-events: auto;
}

.dialog__content {
    width: 100%;
    max-width: 100%;
    min-width: 300px;
    position: relative;
    z-index: 5;
    opacity: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.dialog--open .dialog__content {
    pointer-events: auto;
}


/* Content */

.dialog__overlay {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.dialog.dialog--open .dialog__content,
.dialog.dialog--close .dialog__content {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.dialog.dialog--open .dialog__content {
    -webkit-animation-name: anim-open;
    animation-name: anim-open;
}

.dialog.dialog--close .dialog__content {
    -webkit-animation-name: anim-close;
    animation-name: anim-close;
}

.dialog.dialog--open h2,
.dialog.dialog--open button {
    -webkit-animation: anim-elem 0.3s both;
    animation: anim-elem 0.3s both;
}

.dialog.dialog--open h2 {
    -webkit-animation-delay: 0.05s;
    animation-delay: 0.05s;
}

.dialog.dialog--open button {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

@-webkit-keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes anim-open {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes anim-close {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
    }
}

@keyframes anim-close {
    0% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 50px, 0);
        transform: translate3d(0, 50px, 0);
    }
}


/* Inner elements animations */

@-webkit-keyframes anim-elem {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 25px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes anim-elem {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.vjs-big-play-button {
    border: none !important;
    width: 7rem !important;
    height: 7rem !important;
    border-radius: 50% !important;
    font-size: 4rem !important;
    line-height: 7rem !important;
    top: calc(50% - 3.5rem) !important;
    left: calc(50% - 3.5rem) !important;
    color: var(--primary-color) !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.stories_item {
    user-select: none;
}

.story_avatar {
    background: rgb(30, 31, 31);
    background: linear-gradient(180deg, rgba(30, 31, 31, 0) 0%, rgba(21, 21, 21, 1) 100%);
}

.story_avatar {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 0;
    width: 100%;
    padding: 2rem 1rem 2rem;
    gap: 1rem;
    align-items: center;
}

.user_icon {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1.5px solid #fff;
}

.user_body h4 {
    font-size: 0.95rem;
    margin: 0 0rem;
}

.user_body p {
    color: #fff;
    opacity: 0.7;
    font-size: 0.85rem;
    margin: 0;
}

.user_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text_story {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.text_story.color1 {
    background: linear-gradient(247.17deg, #3973E6 -4.78%, #32BCB4 68.41%);
}

.text_story.color2 {
    background: linear-gradient(247.17deg, #623CBD -4.78%, #AD5ED3 68.41%);
}

.text_story.color3 {
    background: linear-gradient(247.17deg, #ED7264 -4.78%, #F6AB6F 68.41%);
}

.text_story.color4 {
    background: linear-gradient(247.17deg, #2EB9F0 -4.78%, #6656EE 68.41%);
}

.text_story_content {
    padding: 0 1rem;
    overflow: auto;
    flex: 1;
    max-height: 58vh;
}

.text_story_content h3 {
    font-size: 1.3rem;
    line-height: 1.3;
}

.dialog_body {
    /* flex: 1; */
    height: 100%;
}

.page_seperation {
    background-color: #222325;
    border-radius: 18px 18px 0 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#smartwizard {
    height: calc(100% - 70px);
    overflow: auto;
}

#smartwizard .nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#smartwizard .nav li {
    position: relative;
}

#smartwizard .nav li .nav-link {
    width: 2.2rem;
    height: 2.2rem;
    border: 1px solid #474141;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9F9F9F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    background-color: #222325;
}

#smartwizard .nav li .nav-link.done {
    border: 1px solid var(--primary-color);
    color: #fff;
    background-color: var(--primary-color);
    font-size: 0;
}

#smartwizard .nav li .nav-link.done::before {
    content: "\EB7B";
    font-family: remixicon !important;
    font-size: 1.2rem;
}

#smartwizard .nav li .nav-link.active {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    ;
}

#smartwizard .nav li::after {
    content: '';
    width: 108%;
    height: 1px;
    background-color: #4a4a4a;
    display: block;
    position: absolute;
    top: 1rem;
    left: 100%;
}

#smartwizard .nav li:last-child::after {
    display: none;
}

#smartwizard .tab-head {
    padding: 0 1.2rem;
    margin-bottom: 1rem;
}

#smartwizard .tab-content {
    padding: 0 1.2rem 1rem;
    height: calc(100vh - 200px) !important;
    overflow: auto;
}

.stepper_title {
    font-size: 1rem;
    text-align: center;
    margin: 1.2rem 0 1.2rem;
}

.toolbar-bottom {
    height: 4rem;
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0px 0px 24px rgba(50, 51, 53, 0.4);
    border-radius: 15px 15px 0 0;
    position: absolute;
    bottom: 0;
    /* background-color: var(--secondary-color); */
    background-color: #222325;
    width: 100%;
}

.sw-toolbar-elm .btn {
    padding: 0.2rem 1.4rem;
    font-size: 0.9rem;
    color: var(--main-color);
    font-weight: 600;
    border-radius: 6px;
    background-color: #eee;
    cursor: pointer;
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.sw-toolbar-elm .btn.disabled {
    display: none;
}

.sw-toolbar-elm .btn.sw-btn-prev {
    background-color: var(--text-color);
    color: #fff;
    border: none;
}

.sw-toolbar-elm .btn.sw-btn-next {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
}

#form_submit {
    background-color: var(--primary-color) !important;
}

.dropzone .dz-preview.dz-image-preview {
    background-color: transparent;
}

.pure-material-textfield-outlined {
    position: relative;
    display: inline-block;
    padding-top: 6px;
    font-size: 1rem;
    line-height: 1.5;
    overflow: hidden;
    width: 100%;
}


/* Input, Textarea */

.pure-material-textfield-outlined>input,
.pure-material-textfield-outlined>textarea {
    box-sizing: border-box;
    margin: 0;
    border: solid 1px;
    /* Safari */
    border-color: rgba(255, 255, 255, 0.13);
    border-top-color: transparent;
    border-radius: 4px;
    padding: 14px 12px 14px;
    width: 100%;
    height: inherit;
    color: rgba(255, 255, 255, 0.55);
    background-color: transparent;
    box-shadow: none;
    /* Firefox */
    font-family: inherit;
    font-size: 0.9rem;
    line-height: inherit;
    caret-color: rgb(255, 255, 255);
    transition: border 0.2s, box-shadow 0.2s;
}


/* Span */

.pure-material-textfield-outlined>input+span,
.pure-material-textfield-outlined>textarea+span {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    border-color: rgba(255, 255, 255, 0.13);
    width: 100%;
    max-height: 100%;
    color: rgba(255, 255, 255, 0.6);
    font-size: 75%;
    line-height: 15px;
    cursor: text;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
}


/* Corners */

.pure-material-textfield-outlined>input+span::before,
.pure-material-textfield-outlined>input+span::after,
.pure-material-textfield-outlined>textarea+span::before,
.pure-material-textfield-outlined>textarea+span::after {
    content: "";
    display: block;
    box-sizing: border-box;
    margin-top: 6px;
    border-top: solid 1px;
    border-top-color: rgba(255, 255, 255, 0.13);
    min-width: 10px;
    height: 8px;
    pointer-events: none;
    box-shadow: inset 0 1px transparent;
    transition: border-color 0.2s, box-shadow 0.2s;
}

.pure-material-textfield-outlined>input+span::before,
.pure-material-textfield-outlined>textarea+span::before {
    margin-right: 4px;
    border-left: solid 1px transparent;
    border-radius: 4px 0;
}

.pure-material-textfield-outlined>input+span::after,
.pure-material-textfield-outlined>textarea+span::after {
    flex-grow: 1;
    margin-left: 4px;
    border-right: solid 1px transparent;
    border-radius: 0 4px;
}


/* Hover */

.pure-material-textfield-outlined:hover>input,
.pure-material-textfield-outlined:hover>textarea {
    border-color: rgba(255, 255, 255, 0.55);
    border-top-color: transparent;
}

.pure-material-textfield-outlined:hover>input+span::before,
.pure-material-textfield-outlined:hover>textarea+span::before,
.pure-material-textfield-outlined:hover>input+span::after,
.pure-material-textfield-outlined:hover>textarea+span::after {
    border-top-color: rgba(255, 255, 255, 0.55);
}

.pure-material-textfield-outlined:hover>input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined:hover>textarea:not(:focus):placeholder-shown {
    border-color: rgba(255, 255, 255, 0.55);
}


/* Placeholder-shown */

.pure-material-textfield-outlined>input:not(:focus):placeholder-shown,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown {
    border-top-color: rgba(255, 255, 255, 0.13);
}

.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span {
    font-size: 0.9rem;
    line-height: 62px;
}

.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span::before,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span::before,
.pure-material-textfield-outlined>input:not(:focus):placeholder-shown+span::after,
.pure-material-textfield-outlined>textarea:not(:focus):placeholder-shown+span::after {
    border-top-color: transparent;
}


/* Focus */

.pure-material-textfield-outlined>input:focus,
.pure-material-textfield-outlined>textarea:focus {
    border-color: rgb(255, 255, 255);
    border-top-color: transparent;
    box-shadow: inset 1px 0 var(--pure-material-safari-helper1), inset -1px 0 var(--pure-material-safari-helper1), inset 0 -1px var(--pure-material-safari-helper1);
    outline: none;
}

.pure-material-textfield-outlined>input:focus+span,
.pure-material-textfield-outlined>textarea:focus+span {
    color: rgb(255, 255, 255);
}


/* Disabled */

.pure-material-textfield-outlined>input:disabled,
.pure-material-textfield-outlined>input:disabled+span,
.pure-material-textfield-outlined>textarea:disabled,
.pure-material-textfield-outlined>textarea:disabled+span {
    border-color: rgba(255, 255, 255, 0.38) !important;
    border-top-color: transparent !important;
    color: rgba(255, 255, 255, 0.38);
    pointer-events: none;
}

.pure-material-textfield-outlined>input:disabled+span::before,
.pure-material-textfield-outlined>input:disabled+span::after,
.pure-material-textfield-outlined>textarea:disabled+span::before,
.pure-material-textfield-outlined>textarea:disabled+span::after {
    border-top-color: rgba(255, 255, 255, 0.38) !important;
}

.pure-material-textfield-outlined>input:disabled:placeholder-shown,
.pure-material-textfield-outlined>input:disabled:placeholder-shown+span,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span {
    border-top-color: rgba(255, 255, 255, 0.38) !important;
}

.pure-material-textfield-outlined>input:disabled:placeholder-shown+span::before,
.pure-material-textfield-outlined>input:disabled:placeholder-shown+span::after,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span::before,
.pure-material-textfield-outlined>textarea:disabled:placeholder-shown+span::after {
    border-top-color: transparent !important;
}

.pure-material-textfield-outlined>input:focus,
.pure-material-textfield-outlined>textarea:focus {
    border-color: rgb(255, 255, 255);
    border-top-color: transparent;
    box-shadow: inset 1px 0, inset -1px 0, inset 0 -1px;
    outline: none;
}

.pure-material-textfield-outlined>input:focus+span::before,
.pure-material-textfield-outlined>input:focus+span::after,
.pure-material-textfield-outlined>textarea:focus+span::before,
.pure-material-textfield-outlined>textarea:focus+span::after {
    border-top-color: rgb(255, 255, 255) !important;
    box-shadow: inset 0 1px rgb(255, 255, 255);
}

.pure-material-textfield-outlined textarea {
    min-height: 100px;
}


/* Faster transition in Safari for less noticable fractional font-size issue */

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance: none) {
        .pure-material-textfield-outlined > input, .pure-material-textfield-outlined > input + span, .pure-material-textfield-outlined > textarea, .pure-material-textfield-outlined > textarea + span, .pure-material-textfield-outlined > input + span::before, .pure-material-textfield-outlined > input + span::after, .pure-material-textfield-outlined > textarea + span::before, .pure-material-textfield-outlined > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
}

.menu__items-list li a:not([href]):not([class]),
.menu__items-list li a:not([href]):not([class]):hover {
    color: #fff;
    cursor: pointer;
}

.form_group {
    margin-bottom: 0.3rem;
}

.dialog_body.scroll {
    overflow-y: auto;
}

.team_details h3 {
    margin-bottom: 0.2rem;
}

.team_details h6 {
    margin-bottom: 0.8rem;
    color: var(--primary-color);
    font-size: 0.9rem;
}

.team_icon {
    width: 8rem;
    height: 8rem;
    overflow: hidden;
    border: 2px solid #fff;
}

.team_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact_form {
    margin-bottom: 1rem;
}

#canv {
    position: absolute;
    width: 100%;
    height: 100%;
}

#page_home .slide_header {
    position: relative;
}

.swipe_down {
    position: fixed;
    bottom: 20px;
    z-index: 9;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.swipe_icon * {
    transform-origin: 50% 50%;
    perspective: 100px;
}

.arrow-up-2,
.hold-1,
.tap-1 {
    opacity: .5;
}

.arrow-up-1,
.hold-2,
.tap-2 {
    opacity: .25;
}

.swipe_icon svg {
    width: 70px;
    fill: #fff;
    margin-right: 8px;
}

.swiper-slide.stories_item .swipe_down {
    display: none;
}

.swiper-slide.stories_item.swiper-slide-active .swipe_down {
    display: flex;
}

@keyframes swipe-x {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(50px) rotateZ(10deg);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(-50px) rotateZ(-10deg);
    }
}

@keyframes swipe-y {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(50px) rotateZ(-10deg);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(-50px) rotateZ(10deg);
    }
}

.hand {
    transform-origin: 25% 50%;
}

.hand-y {
    animation: swipe-y 1.25s ease-in-out backwards;
    animation-iteration-count: infinite;
}

.about_heading {
    font-size: 2rem;
    margin: 1rem 0 0;
}

.about_label {
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
    margin-top: 3px;
}

.about_heading {
    font-size: 2rem;
    margin: 1rem 0 0;
    color: var(--primary-color);
}

.about_sub_heading {
    margin: 2rem 0 0.5rem;
    font-size: 1.2rem;
}

.spacing p>strong {
    font-weight: 600;
    color: #fff;
    font-style: italic;
}

#canv {
    background-color: #000;
}

.dropzone {
    min-height: 134px;
    border: 1px dashed rgba(112, 112, 112, 0.8);
    border-radius: 5px;
    padding: 1rem 1rem;
    background-color: #393939;
}

.custom_label {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}

.dropzone .dz-message {
    text-align: center;
    margin: 2.3em 0;
}


/************************* CUSTOM RADIO */


/****************************************/

.radio {
    position: relative;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    margin: 0px;
}

.radio .label {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #c8ccd4;
    border-radius: 100%;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio .label:after {
    content: "";
    /* position: absolute;
    top: 3px;
    left: 3px; */
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: var(--primary-color);
    transform: scale(0);
    transition: all 0.2s ease;
    opacity: 0.08;
    pointer-events: none;
}

.radio:hover .label:after {
    transform: scale(3.6);
}

.radio input[type="radio"]:checked+.label {
    border-color: var(--primary-color);
}

.radio input[type="radio"]:checked+.label:after {
    transform: scale(1);
    transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
    opacity: 1;
}

.cntr {
    position: absolute;
    top: calc(50% - 10px);
    left: 0;
    width: 100%;
    text-align: center;
}

.hidden {
    display: none;
}

.box_radio {
    margin-bottom: 20px;
}

.box_radio .radio {
    border: 1.5px solid rgba(255, 255, 255, 0.13);
    background-color: transparent;
    padding: 0.7rem 1.2rem;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    font-size: 0.9rem;
    color: var(--main-color);
    font-weight: 500;
    min-height: 58px;
    gap: 1rem;
}

.box_radio {
    display: grid;
    gap: 1rem;
}

.label_name {
    flex: 1;
}


/********************* END CUSTOM RADIO */

.form_heading h3 {
    font-size: 0.9rem;
}

.form_heading {
    margin: 1rem 0 0.5rem;
}

.form_group .select2-selection--multiple {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.13);
    background-color: transparent;
    transition: border 0.2s, box-shadow 0.2s;
    font-size: 0.9rem;
    border-radius: 4px;
    padding: 14px 12px 14px;
    color: #fff;
}

.select2-container--default .select2-search--inline .select2-search__field {
    margin: 0;
    color: #fff;
    padding: 0.4em 0.6rem 0.4em 0rem;
    min-width: 50px;
    min-height: 28px;
    width: auto !important;
    max-width: 115px;
}

.select2-search.select2-search--inline {
    line-height: 1;
}

.form_group .select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    box-shadow: inset 1px 0, inset -1px 0, inset 0 -1px;
    outline: none;
    border-radius: 4px;
}

.form_group .select2-container {
    width: 100% !important;
}

.select2-selection__rendered {
    margin: 0;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    margin: 0 !important;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-right: 10px;
}

.select2-dropdown {
    background-color: #121213;
    border: 1px solid #121213;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #000;
}

.select2-container--default .select2-results__option--selected {
    background-color: #000;
}

.select2-results__option {
    padding: 0.5rem 1rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #7e7e7e;
    border: 1px solid #7e7e7e;
    display: flex;
    padding: 0px;
}

.select2-selection__choice__remove span {
    font-size: 0px;
}

.select2-selection__choice__remove span::after {
    content: "\EB99";
    font-size: 1rem;
    font-family: remixicon !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    padding: 0px;
    position: relative;
    width: 27px;
    border-right: 1px solid #a09999;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.select2-selection__choice__display {
    padding: 3px 10px !important;
}

.add_btn {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete_btn {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.add_group .form_group {
    flex: 1;
}

#newinput {
    min-height: 60px;
    width: 100%;
    display: block;
}

.or {
    text-align: center;
    font-style: italic;
}

.confirmation_box {
    width: 100%;
    height: 100%;
    padding: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirmation_box h1 {
    margin-bottom: 1rem;
}

.confirmation_box h4 {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.confirmation_icon {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1rem;
    border: 3px solid var(--primary-color);
}

.confirmation_icon img {
    width: 100%;
}

#contactDialog .page_seperation {
    height: calc(100% - 70px);
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}


/* Bob */

@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-18px);
        transform: translateY(-18px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-18px);
        transform: translateY(-18px);
    }
}

.stories_item {
    transition: all 0.2s ease-in-out;
}

label.error,
#university-error,
#country-error,
#step-4-error,
#plusTwoDoc-error,
#tempDoc-error,
#step-2-error,
.step-5-error {
    font-size: 0.9rem;
    color: #ff5050;
    margin-top: 0.2rem;
}

#step-4-error,
#step-2-error {
    margin-bottom: 0.3rem;
    margin-top: 0;
}

.find_us_media {
    display: flex;
}

.find_us_body {
    flex: 1;
}

.find_us_icon {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.find_us_body h5 {
    margin: 0 0 0.5rem;
    font-size: 1rem;
}

.find_us_media {
    background-color: #222325;
    border-radius: 6px;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.find_us {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.find_us_body a {
    color: #fff;
    margin-bottom: 1rem;
    display: block;
}

.frame_location {
    margin: 0 -1.2rem;
}

.frame_location iframe {
    width: 100%;
    height: 320px;
}

.read_more {
    color: #fff;
    text-decoration: underline;
}


/****************************************/

@media screen and (max-width: 767px) {
    #web_layout {
        display: none;
        visibility: hidden;
        opacity: 0;
        z-index: -99;
    }
    #mobile_layout {
        display: block;
        visibility: visible;
        opacity: 1;
        z-index: 99;
    }
}