@use 'variables' as *;
@use 'mixins' as *;
@use 'typography';
@use 'custom-utilities';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  background: $bg-color;
  color: $text-color;
  line-height: 1.5;
  @include font-smoothing;
  overflow-x: hidden;
}

// Links
a {
  text-decoration: none;
  color: inherit;
  transition: $transition-base;
}

// Lists
ul {
  list-style: none;
}

// Buttons
button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}